<div class="text-gray-700">
  <div class="text-xl font-bold">
    Your Magic Link
  </div>

  <div class="mt-6">
    Welcome! Use your special login magic link below to get started!
  </div>

  <div class="my-12">
    <%= link_to "Sign In",
    @confirm_url,
    class:
      "bg-gray-800 py-3 px-12 text-white font-semibold text-lg text-center rounded-xl hover:bg-gray-600" %>
  </div>

  <div>
    Need help? Let us know by replying to this email.
  </div>
</div>
